version: "3.9"

services:
  app:
    build: .
    container_name: gogo-study-app
    env_file:
      - .env
    environment:
      REDIS_HOST: gogo-study-redis
    depends_on:
      - db
      - redis
    ports:
      - "8080:8080"
    restart: always

  db:
    image: postgres:16-alpine
    container_name: gogo-study-db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "15432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
    restart: always

  redis:
    image: redis:7-alpine
    container_name: gogo-study-redis
    ports:
      - "6379:6379"
    restart: always

volumes:
  db-data:
